@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: black;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #1f1f1f;
    border-radius: 100vh;
    border: black 2px solid;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background:gray;
  }
}

.inside-btn {
  box-shadow: inset 0px 0px 40px blue;
}

.outside-btn {
  box-shadow: 0px 0px 100px blue;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
